html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background-color: #000000;
  color: #999999;
  font-family: 'Open Sans', Arial;
  &.mobile-view {
    #prometheusWrapper {
      .app-overlay-window {
        width: 100%;
        height: 100%;
        box-shadow: none;
        border:none;
        top: 0;
        left: 0;
        margin-left: 0;
      }
      .adminOptions {
        width: 100%;
        right: 0;
        .adminToggle {
          left: 50%;
          margin-left: -18px;
        }
        .adminContainer {
          right: 0;
          bottom: 35px;
          .adminButton {
            padding: 15px;
          }
        }
      }
      #appContainer {
        #appView {
          #appSearch {
            width:100%;
            box-shadow: none;
            margin-top: -15px;
            right: auto;
            border-left: none;
            border-right: none;
            .searchWrapper {
              .searchCol {
                width: 100%;
                float: none;
                &.leftCol {
                  padding: 0px;
                }
                &.rightCol {
                  padding: 0px;
                }
                select, input {
                  height: 45px !important;
                }
                .last {
                  margin-bottom: 10px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  &.landscape {
    #prometheusWrapper {
      #junkMedia {
        #photoViewer {
            text-align: center;
            height: 100%;
            img {
              height: 100%;
              width: auto;
            }
        }
      }
      .userPhotoWrapper {
        height: 100%;
        .userPhotoContainer {
          height: 100%;
          .userPhoto {
            height: 100%;
            img {
              max-width: 100%;
              max-height: 100%;
              width: auto;
            }
          }
        }
      }
    }
  }
  &.portrait {
    #prometheusWrapper {
      .userPhotoWrapper, .userInfoWrapper {
        width: 100%;
        height: auto;
        overflow: hidden;
      }
      .userInfoContainer {
        margin-left: 0;
        .userInfoTabs {
          margin-top: 10px;
        }
      }
      .app-overlay-body {
        overflow-y: auto;
      }
      #junkMedia {
        #photoViewer {
            img {
              width: 100%;
            }
        }
      }
    }
  }
}


#prometheusWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  .appBackground {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  #appMenu {
    position:fixed;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    background-color: #222;
    left: -240px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.open {
      left: 0px;
    }
    .menuItem {
      position: relative;
      padding: 8px 15px;
    }
    .menuTitle {
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 200;
      text-transform: uppercase;
      span {
        color: #FFF;
        font-weight: 700;
      }
    }
    .menuHeader {
      text-transform: uppercase;
    }
    .menuSubHeader {
      padding-left: 30px;
    }
    .appLink {
      cursor: pointer;
      &:hover {
        color: #FFF;
        background-color: #111;
      }
      &.active {
        color: #FFF;
        background-color: #111;
      }
    }
  }
  #topBanner {
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
    background-color: rgba(0,0,0, 0.75);
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 0;
    display: none;
    &.open {
      left: 240px;
    }
    .appMenuTrigger {
      position: absolute;
      left: 15px;
      top: 11px;
      padding: 5px 10px;
      border: 1px solid #333;
      cursor: pointer;
      i {
        color: #999;
      }
    }
    .appSearchTrigger {
      position: absolute;
      right: 15px;
      top: 11px;
      padding: 5px 10px;
      border: 1px solid #333;
      cursor: pointer;
      display: none;
      i {
        color: #999;
      }
    }
    .appLogo {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      color: #E50914;
      font-size: 18px;
      padding: 15px;
      font-weight: 700;
    }
  }
  #appContainer {
    position: relative;
    width: 100%;
    height: 100%;
    left:0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    overflow-x: hidden;
    &.open {
      left: 240px;
    }
    #appView {
      position: relative;
      width: 100%;
      top: 55px;
      overflow: hidden;
      #appSearch {
        position: fixed;
        top: 15px;
        right: 15px;
        background-color: rgba(0,0,0,0.75);
        border: 1px solid #333;
        box-shadow: 0px 1px 10px 1px #242424;
        width: 50%;
        z-index: 500;
        display:none;
        .appNav {
          position: relative;
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 10px;
          text-align: right;
          .navButton {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #333;
            cursor: pointer;
            background-color: #000;
            margin-left: 5px;
          }
          .navLabel {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #333;
            background-color: #000;
            margin-left: 5px;
          }
        }
        .searchWrapper {
          position: relative;
          width: 100%;
          padding: 10px;
          overflow: hidden;
          .searchCol {
            position: relative;
            float: left;
            width: 50%;
            &.leftCol {
              padding-right: 5px;
            }
            &.rightCol {
              padding-left: 5px;
            }
          }
          #appSearchSubmit {
            text-transform: uppercase;
            text-align: center;
            font-size: 12px;
            background-color: #96060d;
            color: #FFF;
            font-weight: 400;
            cursor: pointer;
            height: 32px;
            line-height: 32px;
          }
          select {
            border: 1px solid #333;
            background-color: #000;
            width: 100%;
            height: 32px;
            margin-bottom: 10px;
            -webkit-appearance:none;
            border-radius: 0px;
            padding-left: 10px;
            padding-right: 10px;
            &.last {
              margin-bottom: 0px;
            }
          }
          input {
            border: 1px solid #333;
            background-color: #000;
            width: 100%;
            height: 32px;
            margin-bottom: 10px;
            -webkit-appearance:none;
            border-radius: 0px;
            padding-left: 10px;
            padding-right: 10px;
            &.last {
              margin-bottom: 0px;
            }
          }
        }
      }
      .appGrid {
        position: relative;
        overflow: hidden;
        width: 100%;
        .gridItem {
          position: relative;
          float: left;
          opacity: 0;
          cursor: pointer;
          transition-property: transform,opacity;
          transition-duration: 1s;
          transition-timing-function: ease;
          transform: scale(1);
          -webkit-transition-property: transform,opacity;
          -webkit-transition-duration: 1s;
          -webkit-transition-timing-function: ease;
          -webkit-transform: scale(1);
          -moz-transition-property: transform,opacity;
          -moz-transition-duration: 1s;
          -moz-transition-timing-function: ease;
          -moz-transform: scale(1);
          text-indent: 3px;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #333;
          &.animating {
            -webkit-transform: scale(4);
            -moz-transform: scale(4);
            transform: scale(4);
          }
          &.loaded {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);
          }
          &.fallOut {
            opacity: 0;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            transform: scale(0);
          }
          .indicator {
            position: absolute;
            display: block;
            color: #FFF;
            &.video {
              bottom: 5px;
              right: 5px;
            }
          }
        }
      }
    }
  }
  .app-overlay-window {
    position: fixed;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    background-color: rgba(0,0,0,1);
    border: 1px solid #666;
    top: 80px;
    left: 50%;
    margin-left: -40%;
    opacity: 0;
    display: none;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 2px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 2px rgba(50, 50, 50, 0.75);
    .app-overlay-body {
      overflow-x: hidden;
    }
    .app-overylay-header {
      position: relative;
      margin-bottom: 15px;
      .app-overlay-title {
        font-size: 24px;
        font-weight: 300;
        color: #FFF;
        text-transform: uppercase;
      }
      .app-overlay-close {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 35px;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  .userPhotoWrapper {
    position: relative;
    width:40%;
    float: left;
    .userPhotoContainer {
      position: relative;
      width: 100%;
      .userPhoto {
        position: relative;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    overflow-y: auto;
  }
  .userInfoWrapper {
    position: relative;
    width:60%;
    float: left;
    height: 100%;
    .userInfoContainer {
      position: relative;
      margin-left: 10px;
    }
    overflow-y: auto;
  }
  #cerebroMap {
    position: relative;
    width: 100%;
    .mapInfoWrapper {
        position: relative;
        width: 350px;
        overflow: hidden;
      }
    .mapPhoto {
        position: relative;
        width: 150px;
        overflow: hidden;
        float: left;
      }

      .mapPhoto img {
        width: 100%;
      }

      .mapTitle {
        font-size: 14px;
        font-weight: 400;
        color: #000;
      }

      .mapData {
        font-size: 11px;
        color: #666
      }

      .mapInfo {
        position: relative;
        float: left;
        margin-left: 10px;
        width: 190px;
      }

      .mapHeader {
        position: relative;
        font-size: 10px;
        margin-top: 10px;
      }
      .mapLocationDesc {
        color: #666
      }

      .gpsData {
        color: #666
      }

      .mapTimeDisplay {
        color: #666
      }

  }
}

.adminOptions {
  position: absolute;
  bottom: 10px;
  width:40%;
  right: 20px;
  padding: 10px;
  .adminToggle {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .adminContainer {
    position: relative;
    background-color: rgba(0,0,0,0.65);
    padding: 10px;
    width:100%;
    bottom:25px;
    right: 25px;
    .adminButton {
      position: relative;
      text-transform: uppercase;
      background-color: #000;
      border: 1px solid #333;
      padding: 5px 10px;
      text-align: center;
      margin-bottom: 10px;
      &.addFavorite {
        display: none;
      }
      &.removeFavorite {
        display: none;
      }
      &.last {
        margin-bottom: 0;
      }
    }
  }
}
.userItem {
  .profileNav {
    position: fixed;
    width: 90%;
    top: 50%;
    margin-top: -15px;
    left:50%;
    margin-left: -45%;
    .navPrev {
      position: absolute;
      left: 0px;
    }
    .navNext {
      position: absolute;
      right: 0px;
    }
  }
  .userInfoTabs {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    .infoTabTrigger {
      position: relative;
      width: 33%;
      margin-right: 10px;
      text-transform: uppercase;
      border: 1px solid #333;
      background-color: #000;
      text-align: center;
      padding: 5px;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.active {
        border: 1px solid #96060d;
        background-color: #96060d;
        color: #FFF;
      }
      &.last {
        margin-right: 0px;
      }
    }
  }
  .userPhotoStream {
    position: relative;
    .userPhotoTrigger {
      position: relative;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 10px;
      margin-bottom: 10px;
      opacity: 0;
    }
    div:nth-child(3n+3) {
      margin-right: 0px;
    }
  }
  .userProfileInfo {
    position: relative;
    margin-top: 20px;
    .userInfoHeader {
        position: relative;
        color: #FFF;
        text-transform: uppercase;
        font-size: 12px;
    }
    .userInfoContent {
        position: relative;
        margin-bottom: 15px;
        font-size: 13px;
    }
  }
  .userLocationHistory {
    .locationMap {
      position: relative;
      width: 100%;
      height: 400px;
    }
  }
  .infoTab {
    display: none;
    &.active {
      display: block;
    }
  }
}

#skynetNavigation {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  .skynetTab {
    position: relative;
    position: relative;
    float: left;
    width: 32%;
    margin-right: 10px;
    text-transform: uppercase;
    border: 1px solid #333;
    background-color: #000;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.active {
      border: 1px solid #96060d;
      background-color: #96060d;
      color: #FFF;
    }
    &.last {
      margin-right: 0px;
    }
  }
}

.skynetTabContainer {
  display: none;
  &.active {
    display: block;
  }
}
#junkMedia {
  #galleryNav {
    position: fixed;
    width: 90%;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    left:50%;
    margin-left: -45%;
    .navPrev {
      position: absolute;
      left: 0px;
    }
    .navNext {
      position: absolute;
      right: 0px;
    }
  }
  #photoViewer {
    display: none;
  }
  #videoViewer {
    position:relative;
    display:none;
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 95%;
    }
    .videoSwipe {
      position: absolute;
      height: 35%;
      width:100%;
      &.top {
        top: 0;
      }
      &.bottom {
        bottom:0;
      }
    }

  }
}

//Desktop and Mobile Specific
#desktop-app {
  .navButton:hover, .appMenuTrigger:hover, .appSearchTrigger:hover {
    background-color: #333 !important;
  }
  #appSearchSubmit:hover {
    background-color: #E50914 !important;
  }
  .navPrev:hover, .navNext:hover {
    color: #FFF;
    cursor: pointer;
  }
  .adminToggle:hover {
    color: #FFF;
    cursor: pointer;
  }
  .adminButton:hover {
    background-color: #E50914 !important;
    color: #FFF !important;
    cursor: pointer !important;
  }
  .infoTabTrigger:hover, .skynetTab:hover {
    cursor: pointer !important;
    color: #FFF !important;
  }
  .userPhotoTrigger {
    cursor: pointer !important;
  }
}

#mobile-app {
}

#prometheusSplash {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  z-index: 15;
  .title {
    color: #DDD;
    font-size: 32px;
    span {
      font-weight: 700;
      color: #FFF;
    }
  }
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.10);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-input-placeholder {
   color: #666;
}

:-moz-placeholder { /* Firefox 18- */
  color: #666;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}
