html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background-color: #000;
  color: #999999;
  font-family: 'Open Sans', Arial;
}


#prometheusWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  .appContainer {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    &::after {
      content: "";
      background-image: url('../img/startech.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.15;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
    #topBanner {
      position: fixed;
      width: 100%;
      top: 0px;
      text-align: center;
      background-color: rgba(0,0,0, 0.65);
      .appMenuTrigger {
        position: absolute;
        left: 15px;
        top: 15px;
        padding: 2px 6px;
        border: 1px solid #333;
        &:hover {
          border: 1px solid #999;
          cursor: pointer;
        }
        i {
          color: #999;
        }
      }
      .appLogo {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        color: #E50914;
        font-size: 18px;
        padding: 15px;
        font-weight: 700;
      }
    }
  }
  //Desktop and Mobile Specific
  #desktop-app {
  }

  #mobile-app {
  }
}

#prometheusSplash {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #000;
  top: 0;
  .title {
    color: #DDD;
    font-size: 32px;
    span {
      font-weight: 700;
      color: #FFF;
    }
  }
}
